body {
  margin: auto;
  font-family: "roboto", sans-serif;
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

/* nav */
#logo {
  box-shadow: 0px 10px 10px rgb(199, 199, 199);
  position: relative;
  z-index: 1;
}

#logo img {
  display: block;
  margin: auto;
  padding: 30px 0px 15px 0px;
}

/* section location */
#home__location {
  text-align: center;
  background-color: rgb(235, 235, 235);
  font-size: 20px;
}

#location {
  background-color: rgb(235, 235, 235);
  border: none;
  margin: 30px 0px;
  font-size: 18px;
  font-weight: bold;
}

/* section explore */
#home__explore {
  text-align: center;
  padding: 30px 0px 70px 0px;
  background-color: rgb(245, 245, 245);
}

#home__explore p, h1 {
  margin-left: 5%;
  margin-right: 5%;
}

.explore__btn {
  display: flex;
  justify-content: center;
  background: linear-gradient(175deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  height: 50px;
  align-items: center;
  border-radius: 25px;
  width: 60%;
  max-width: 350px;
  margin: auto;
  font-weight: bold;
  color: white;
}

/* section fonctionnement */
#home__fonction {
  padding: 60px 0px;
}

h2 {
  margin: 0px 0px 20px 40px;
  font-size: 26px;
}

.fonction__btn {
  display: flex;
  width: 90%;
  align-items: center;
  background-color: rgb(245, 245, 245);
  border-radius: 25px;
  box-shadow: 0px 10px 10px rgb(224, 224, 224);
  height: 75px;
  margin: 30px 40px 0px 40px;
  font-weight: bold;
}

.fonction__btn:hover {
  background-color: rgba(187, 86, 220, 0.15);
}

.fonction__btn:hover i {
  color: #9356DC;
}

.fonction__btn__circle {
  background-color: #9356DC;
  width: 20px;
  border-radius: 25px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  position: relative;
  right: 10px;
  margin-right: 3%;
}

.fonction__btn i {
  margin-right: 5%;
  color: gray;
}

/* section restaurants */
#home__resto {
  background-color: rgb(245, 245, 245);
  padding: 60px 0px;
}

article {
  margin: 30px 40px 0px 40px;
  width: 90%;
  border-radius: 20px;
  box-shadow: 2px 2px 10px lightgray;
  overflow: hidden;
}

article p {
  margin: 0px 20px 0px 20px;
}

.card__img {
  height: 200px;
}

.card__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card__info {
  background-color: white;
  padding: 20px 0px;
}

h3 {
  margin: 0px 20px 10px 20px;
}

.favorit__btn {
  border: none;
  background-color: white;
  float: right;
  margin: 0% 0%;
  font-size: 24px;
}

.favorit__btn span i {
  position: relative;
  right: 31px;
  background: linear-gradient(to top right, none 0%, none 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.favorit__btn span i:hover {
  font-size: 25px;
  background: linear-gradient(to top right, #FF79DA 0%, #9356DC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Footer */
footer {
  background-color: #353535;
  padding: 40px 40px;
  font-weight: bold;
}

h4 {
  font-family: "Shrikhand", cursive;
  font-size: 20px;
  color: white;
  margin: 0%;
  font-weight: 400;
}

footer ul {
  list-style-type: none;
  padding: 0%;
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer li {
  margin-bottom: 10px;
}

footer i {
  font-size: 14px;
  color: white;
  width: 25px;
}

footer span i {
  font-size: 12px;
}

/*# sourceMappingURL=style.css.map */
