footer {
    background-color: $footer;
    padding: 40px 40px;
    font-weight: bold;
        & ul{
            list-style-type: none;
            padding: 0%;
        }
        & li{
            margin-bottom: 10px;
                & a{
                    color: $background-primary;
                    font-weight: 400;
                }
        }
        & i{
            font-size: 14px;
            color: $background-primary;
            width: 25px;
        }
        & span i{
            font-size: 12px;
        }
}